* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'PP Editorial New';
  src: url('ppeditorialnew-ultralightitalic-bf644b214ff1e9b-webfont.woff2') format('woff2'),
       url('ppeditorialnew-ultralightitalic-bf644b214ff1e9b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: AUTHENTIC sans, -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  transition: background 500ms ease;
  background-color: white;
  padding: 20px;
}

p, li {
  font-size: 17px;
  line-height: 30px;
}

#left-column {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 26px;
}

h3 {
  margin-bottom: 20px;
  font-size: 23px;
}

p {
  font-size: 17px;
}

ul, ol {
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.cursive {
  font-family: sloop;
  font-size: 50px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: normal;
  font-family: PP Editorial New, AUTHENTIC sans, sans-serif;
}

#darkmode {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  background: lightgray;
  font-family: PP Editorial New, AUTHENTIC sans, sans-serif;
}

body.dark {
  background: black;
  color: white;
}

li.dark {
  color: white;
}

.assignments-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container {
  width: 48%;
  padding: 20px;
  background-color: lightgray;
  border-radius: 3%;
}

@media (max-width: 988px) {
  .assignments-container {
    flex-direction: column;
  }

  .container {
    width: 100%;
    background-color: lightblue;
    border-radius: 10%;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
  }
}

a, a:visited {
  transition: all 500ms ease;
  color: blue;
}

a:hover {
  color: red;
}



/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/