body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

header {
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #000;
}

main {
    margin: 20px;
    line-height: 1.6;
}

.emoji-image {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.example {
    background-color: #f0f0f0;
    padding: 10px;
    border-lef
